.checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0;

  @media screen and (min-width: 1200px) {
    @include flex(flex, center, center);
  }
}

.checkbox__label {
  @include flex(flex, center, center);
  font-size: 12px;
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__box {
  @include flex(flex, center, center);
  min-width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms var(--timing-function),
    border 250ms var(--timing-function), box-shadow 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}

.checkbox__icon {
  fill: transparent;
  transition: fill 250ms var(--timing-function);
}

// .checkbox__box {
//   transition: border-color 250ms var(--timing-function);
// }

.checkbox__input:focus + .checkbox__label .checkbox__box,
.checkbox__input:hover + .checkbox__label .checkbox__box {
  border-color: var(--accent-color);
}

.checkbox__input:checked + .checkbox__label .checkbox__box {
  background-color: var(--accent-color);
  border: transparent;
  box-shadow: none;
}

.checkbox__input:checked + .checkbox__label .checkbox__icon {
  fill: var(--secondary-text-color);
}

.checkbox__link {
  color: var(--accent-color);
  display: inline-block;
}
