:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-text-color: #ffffff;
  --logo-secondary-color: #000000;
  --bgc-footer: #2f303a;
  --bgc-secondary: #f5f4fa;
  --bgc-total: #ffffff;
  --icon-color: #afb1b8;
  --typical-padding: 94px;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

